$primary-color: #000;
$secondary-color: #f3f5f8;
$background-color: #f3f4f6;
$background-secondary: #f3f5f8;
$background-tertiary: #f5f5f5;
$accent-color: #c08a00;
$text-color: #333;
$text-secondary: #666;
$border-color: #cdd2d8;

$font-family: 'Roboto', sans-serif;

$spacing-xs: 0.5rem;
$spacing-small: 0.8rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 6rem;


$border-radius: 0.25rem;
$border-radius-large: 5rem;
$border-radius-card: 0.625rem;

$shadow: 0 4px 10px rgba(0, 0, 0, 0.1);