@use '../styles/variables' as *;

.home {
    font-family: 'Roboto', sans-serif;
    position: relative;
    border-radius: 5%;
    width: 100%;
    min-height: 60vh;
    padding: $spacing-large 1rem;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .figure-container {
        flex: 1;
        max-width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0 10px;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        figcaption {
            color: #f3f5f8;
        }
    }

    figcaption,
    p {
        text-align: center;
    }

    p {
        color: #bbbfc5;
    }
}

@media (max-width: $bp-md) {
    .home {
        flex-direction: column;
        min-height: auto;
        padding: $spacing-large 1rem;

        .figure-container {
            max-width: 90%;
            margin-bottom: $spacing-large;
        }

        figure {
            width: 100%;
        }
    }
}