@import '../styles/variables';

.banner-hero {
  font-family: $font-family;
  width: 100%;
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7)),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .article-hero {

    h1,
    .discoverHero {
      color: $secondary-color;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  div {
    display: flex;
    gap: $spacing-small;

    button {
      width: 15vw;
      font-weight: 600;
      border-radius: $border-radius;
    }

    .btn-1 {
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
    }

    .btn-2 {
      border: solid $border-color;
      background-color: transparent;
      color: $secondary-color;
    }
  }
}